<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Configuration Quota</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
<div class="container mt-4">
    <h2>Liste des configurations de quota</h2>
    <!-- <a href="@{/bibliothecaire/quota/edit}" class="btn btn-primary mb-3">Ajouter un quota</a> -->
     <a th:href="@{/bibliothecaire/quota/edit}" class="btn btn-primary mb-3">Ajouter un quota</a>
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Profil</th>
            <th>Quota prêt</th>
            <th>Quota prêt sur place</th>
            <th>Quota réservation</th>
            <th>Quota prolongation</th>
            <th>Nombre de jours</th>
            <th>Actions</th>
        </tr>
    </thead>
        <tbody>
            <tr th:each="q : ${quotas}">
                <td th:text="${q.profil.nom}"></td>
                <td th:text="${q.quotaPret}"></td>
                <td th:text="${q.quotaPretPlace}"></td>
                <td th:text="${q.quotaReservation}"></td>
                <td th:text="${q.quotaProlongation}"></td>
                <td th:text="${q.nbJour}"></td>
                <td>
                    <a th:href="@{/bibliothecaire/quota/edit(id=${q.id})}" class="btn btn-sm btn-warning">Modifier</a>
                    <form th:action="@{/bibliothecaire/quota/delete}" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${q.id}" />
                        <button type="submit" class="btn btn-sm btn-danger"
                            onclick="return confirm('Confirmer la suppression ?')">Supprimer</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
     <a th:href="@{/bibliothecaire/quota/ajouter-profil}" class="btn btn-secondary mt-3">Ajouter un profil</a>
</div>
</body>
</html>
