<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des prêts</title>
</head>
<body>
    <h1>Gestion des prêts</h1>
    <nav>
        <ul>
            <li><a th:href="@{/bibliothecaire/nouveau-pret}">Faire un prêt</a></li>
            <li><a th:href="@{/bibliothecaire/retards}">Voir les prêts en retard</a></li>
            <li><a th:href="@{/bibliothecaire/rendre}">Rendre un livre</a></li>
            <li><a th:href="@{/bibliothecaire/home}">Retour à l'accueil</a></li>
        </ul>
    </nav>
</body>
</html>
